@model MvcMusicStore.ViewModels.StoreBrowseViewModel

@{
    ViewBag.Title = "Browse Albums";
}

<h2>Browsing Genre: @Model.Genre.Name</h2>

<ul>
@foreach (var oAlbum in Model.Albums)
{ 
	 <li>@oAlbum.Title</li>
}
</ul>
