@model MvcMusicStore.ViewModels.StoreIndexViewModel

@{
	ViewBag.Title = "Browse Genres";
}

<h2>Browse Genres</h2>

<p>Select from @Model.NumberOfGenres genres</p>

<ul>
@foreach (string sGenreName in Model.Genres)
{ 
	<li>
		@Html.ActionLink(sGenreName, "Browse", new { genre = sGenreName }, null)

		@if (ViewBag.Starred.Contains(sGenreName))
		{
		<img src="~/Content/Images/starred.png" alt="starred element" />
		} 
	</li>
}
</ul>
<br />
<h5><img src="~/Content/Images/starred.png" alt="starred element" />Starred genres 20% off!</h5>